.about{
    width: 1280px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}
.about P{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}